---
title: Bjarke Ingels
id: bjarke-ingels
subtitle: Bjarke Bundgaard Ingels (born 2 October 1974) is a Danish architect.
references:
  - - "Unpacking my library: Bjarke Ingels"
    - "http://www.domusweb.it/en/reviews/2011/12/16/unpacking-my-library-bjarke-ingels.html"
  - - "Delirious New York"
    - "http://www.wired.com/2015/09/bjarke-ingels-2-world-trade-center-wtc-2/"
---

.booklist
  =book('蝙蝠侠:黑暗骑士归来', 'Finch', '9787510045882')
  =book('神经漫游者', '[美] 威廉·吉布森', '9787539951331')
  =book('A Thousand Years of Nonlinear History', 'Manuel De Landa', '9780942299328', 'en-us')
  =book('论道德之谱系', '[德] 尼采', '9787540725082')
  =book('Adaptation-Shooting Script', 'Charlie Kaufman / Robert McKee', '9781557045805', 'en-us')
  =book('From So Simple a Beginning: Darwin\'s Four Great Books', 'Charles Darwin / Edward O. Wilson', '9780393061345', 'en-us')
  =book('傅科摆', '[意]翁贝托·埃科', '9787532759941')
  =book('Generation X', 'Douglas Coupland', '9780312054366')
  =book('Twin Peaks: An Access Guide to the Town', 'David Lynch / Mark Frost', '9780671743994', 'en-us')
