---
title: 马岩松
id: mad
subtitle: 山水城市。
references:
  - - "马岩松为世界读书日设计可移动阅读空间 “Wonderland”"
    - "http://www.i-mad.com/zh-hans/press/4239/"
---

.booklist
  =book('尼尔斯骑鹅旅行记', '塞尔玛·拉格洛夫', '9787532742622')
  =book('巴别塔之犬', '[美] 卡罗琳·帕克丝特', '9787544237017')
  =book('牧羊少年奇幻之旅', '[巴西]保罗·柯艾略', '9787544244190')
