---
title: 坂茂
id: shigeru-ban
subtitle: 坂茂建築設計。
references:
  - - "Shigeru Ban’s Book List"
    - "http://www.designersandbooks.com/designer/booklist/shigeru-ban"
---

.booklist
  =book('坂の上の雲', '司馬 遼太郎', '9784167105761')
  =book('竜馬がゆく', '司馬 遼太郎', '9784167105679')
