---
title: 王澍
id: wang-shu
subtitle: 2012年2月27日获得了普利兹克建筑奖（Pritzker Architecture Prize），成为获得该奖项的第一个中国人。
references:
  - - "王澍老师推荐阅读的书"
    - "http://zhan.renren.com/zhongguoshuku?gid=3602888498025275370"
---

.booklist
  =book('追忆似水年华', '[法] 马塞尔·普鲁斯特', '9787544716239')
  =book('看不见的城市', '[意大利]伊塔洛·卡尔维诺', '9787544700603')
  =book('浮生六记', '（清）沈复', '9787535433831')
  =book('闲情偶寄', '李渔', '9787101058338')
  =book('江南园林志', '童寯', '9787112011865')
  =book('符號帝國', '羅蘭.巴特(Roland Barthes)', '9789863441397')
