---
title: 张永和
id: zhang-yong-he
subtitle: 纽约建筑联盟青年建筑师论坛奖，1992年。
references:
  - - "光明城读书会"
    - "https://site.douban.com/246052/widget/notes/17678514/note/469237480/"
---

.booklist
  =book('马龙之死', '萨缪尔·贝克特', '9787540437428')
  =book('等待戈多', '萨缪尔·贝克特', '9787540437435')
  =book('Building Stories', 'Pantheon', '9780375424335')
  =book('嫉妒', '(法)阿兰·罗伯-格里耶', '9787544702867')
  =book('如果在冬夜，一个旅人', '[意大利] 伊塔洛·卡尔维诺', '9787544701983')
  =book('审判 城堡', '卡夫卡', '9787801735416')
  =book('新参者', '(日)东野圭吾', '9787544255264')
