@import "vendor/normalize"
@import "mods/layout"

$name-list: 'alvaro-siza' 'bjarke-ingels' 'mad' 'shigeru-ban' 'wang-shu' 'zhang-yong-he'

.index-page
  .showcase
    overflow: hidden
  .showcase-item
    margin-bottom: gutter()
    @include gallery(4.66 of 14)
    @include maintain-aspect-ratio(4, 3)
    background-size: cover
  @each $name in $name-list
    .collective-#{$name}
      background-image: image_url('collectives/' + $name + '/cover.jpg')
      background-position: center top
